
#nomeLabel{
    color: blue;
}

.okCheck{
    color:green;
}

.errorCheck{
    color: red;
}

.spazio{
    padding-bottom: 30px;
}

#indirizzoSped{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow ;
}

#myImg{
    width: 300px;
}




















































